/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* CSS Custom Properties (Variables) */
:root {
  --main-blue1: #BBE1FA; /* Reference property with var() function: var(--main-light-blue); */
  --main-blue2: #3282B8;
  --main-blue3: #0F4C75;
  --main-blue4: #1B262C;
  --main-grey: #E0E1DD;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  /* color: var(--main-blue1); */
  /* background-color: var(--main-blue4); */
}

/* --------------- Nav Bar --------------- */
.logo {
  height: 100px;
  width: auto;
  display: block;
  border-radius: 10px;
  /* Background Highlight on Hover Effect*/
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px;
}

.nav-bar {
  /* border: 1px solid red; */
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  height: 6.25rem; /* Equal to 100px */
  width: 100vw;
  z-index: 1;

  padding-right: 1rem;
  background-color: var(--main-blue3);
  /* box-shadow: ; */
}

.nav-list {
  /* border: 1px solid black; */
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--main-blue1);
  font-size: 1.5rem;
}

.nav-list a:hover {
  background-color: var(--main-blue4);
  /* text-decoration: underline; */
}

.nav-list a:active {
  color: white;
}
/* --------------- End Nav Bar --------------- */

header {
  background-color: yellowgreen;
}

main {
  /* background-color: aquamarine; */
  margin-top: 6.25rem;
}

/* --------------- Home Section --------------- */
.cartoon-img {
  max-width: 30vw;
  height: auto;
  border-radius: 10px;
  /* border:#3282B8 3px solid; */
  margin-bottom: 1.5rem;
  display: block;
}

.home-section {
  background-color: var(--main-grey);
  width: 100vw;
  height: calc(100vh - 6.25rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-margin-top: 6.25rem;
}

.home-section h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-section p {
  font-size: 1.6rem;
  font-weight: 500;
}

/* --------------- About Me Section --------------- */
.linkedin-image {
  max-width: 30vw;
  height: auto;
  display: block;
  border-radius: 2000px;
  border:#3282B8 3px solid;
  /* filter: grayscale(1); */
}

.aboutme-section {
  background-color: tan;
  width: 100vw;
  height: calc(100vh - 6.25rem);

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  align-items: center;
  /* text-align: ; */
  gap: 2rem;
  /* padding: 0rem 5rem; */
  scroll-margin-top: 6.25rem;
}

.aboutme-text {
  border: 1px solid black;
  /* padding: 0rem;
  width: 100vw;
  height: calc(100vh - 6.25rem); */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
} 

.aboutme-text h2 {
  text-align: center;
  font-size: 2rem;
}

.aboutme-text p {
  font-size: 1.2rem;
}

/* --------------- Projects Section --------------- */
.projects-section {
  border: 3px solid black;
  width: 100vw;
  height: calc(100vh - 6.25rem);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
  scroll-margin-top: 6.25rem;

  padding: 0 .5rem;
}

.comingsoon-img {
  max-width: 20vw;
  height: auto;
  border-radius: 5px;
  border: 3px solid red;
}

article {
  border: 1px solid red;
  background-color: #BBE1FA;
  border-radius: 10px;

  min-height: 80vh;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.top-card, .bottom-card {
  text-align: center;
}

.top-card h2 {
  font-weight: 600;
  padding-bottom: 1rem;
  /* font-size: ; */
}

.top-card a, .bottom-card {
  font-size: 2rem;
  color: black;
}

.top-card a:visited {
  color: purple;
}

.top-card a:hover {
  color: red;
}

.top-card a:active {
  color: blue;
} 

/* --------------- Contact Section --------------- */






/* --------------- Footer Section --------------- */
footer {
  text-align: right;
  padding: 1rem;
  font-weight: 300;
  /* font-size: ; */
  color: black;
  background-color: burlywood;
  border-top: 3px solid red;
}