/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* CSS Custom Properties (Variables) */
:root {
  --main-blue1: #BBE1FA; /* Reference property with var() function: var(--main-light-blue); */
  --main-blue2: #3282B8;
  --main-blue3: #0F4C75;
  --main-blue4: #1B262C;
  --main-grey: #E0E1DD;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  /* color: var(--main-blue1);
  background-color: var(--main-blue4); */
}

/* --------------- Nav Bar --------------- */
.logo {
  max-height: 100px;
  width: auto;
  display: block;
  border-radius: 10px;
  /* Background Highlight on Hover Effect*/
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo:hover {
  background-color: var(--main-blue4);
  padding: 5px;
  border: 1px solid var(--main-grey);
}

.nav-bar {
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  min-height: 6.25rem; /* Equal to 100px */
  width: 100vw;
  z-index: 1;

  padding-right: 1rem;
  background-color: var(--main-blue3);
  /* border-bottom: 5px solid var(--main-blue2); Height is now 5px (convert to rem 1st) more-update calc heights */
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--main-blue1);
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 0.5rem;
  border: 1px solid var(--main-blue3);
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: var(--main-blue4);
  border: 1px solid var(--main-grey);
}

.nav-list a:active {
  color: white;
}
/* --------------- End Nav Bar --------------- */

header {
  /* background-color: red; 
  testing for bleeding */
}

main {
  /* border: 10px solid black; */
  margin-top: 6.25rem;
}

/* --------------- Home Section --------------- */
.cartoon-img {
  max-width: 30vw;
  height: auto;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 1.5rem;
  display: block;
}

.home-section {
  background-color: var(--main-grey);
  width: 100vw;
  min-height: calc(100vh - 6.25rem);
  scroll-margin-top: 6.25rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.home-section h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-section p {
  font-size: 1.6rem;
  font-weight: 500;
}

/* --------------- About Me Section --------------- */
.linkedin-image {
  max-width: 28vw;
  max-height: auto;
  /* display: block; */
  border-radius: 50%;
  /* border: 3px solid var(--main-blue2); */
  /* filter: grayscale(1); */
}

.aboutme-section {
  background-color: var(--main-blue4);
  color: var(--main-grey);
  width: 100vw;
  min-height: calc(100vh - 6.25rem);
  scroll-margin-top: 6.25rem;

  display: flex;
  align-items: center;
  /* gap: 2rem; */
  padding: 0rem 2rem;
  /* overflow-y: auto; messes with scroll margin top when active */
}

.aboutme-text {
  /* border: 3px solid var(--main-blue2);
  border-radius: 12px; */
  font-size: 1.35rem;
  padding: 2rem 4rem;
} 

.aboutme-text h2 {
  text-align: center;
  font-size: 2rem;
}

/* --------------- Projects Section --------------- */
.projects-section {
  /* border: 1px solid red; */
  background-color: var(--main-grey);
  width: 100vw;
  min-height: calc(100vh - 6.25rem);
  scroll-margin-top: 6.25rem;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  padding: 1rem;

  /* overflow-y: auto; */
  /* overflow-x: auto; */
}

.comingsoon-img {
  max-width: 20vw;
  height: auto;
  border-radius: 10px;
  border: 1.5px solid var(--main-blue4);
}

article /*Project Cards*/{
  border: 2px solid var(--main-blue4);
  background-color: #BBE1FA;
  border-radius: 10px;

  min-height: 75vh;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.top-card, .middle-card, .bottom-card {
  text-align: center;
}

.top-card h2 {
  font-weight: 600;
  padding-bottom: 1rem;
  /* font-size: ; */
}

.top-card a, .bottom-card {
  font-size: 4rem;
  /* color: black; */
}

/* .project4-card .bottom-card, .project4-card h2 {
  color: red;
} */


.top-card a:visited {
  color: purple;
}

.top-card a:hover {
  color: red;
}

.top-card a:active {
  color: blue;
} 

/* --------------- Contact Section --------------- */
.contact-section {
  /* border: 3px solid green; */
  background-color: var(--main-blue4);
  color: var(--main-grey);

  width: 100vw;
  min-height: calc(100vh - 6.25rem);
  scroll-margin-top: 6.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5rem;
}

.contact-section-header {
  text-align: center;
}

.contact-section-header h2 {
  font-weight: 500;
  font-size: 4rem;
}

.contact-section-header p {
  font-style: italic;
  font-size: 1.5rem;
}

.contact-list {
  /* background-color: aqua; */
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.contact-list a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--main-grey);

  display: block; /*Inline elements do not support transform. Block elements behave more like a box vs. inline occupy as much width as their content.*/
  /* text-shadow: 2px 2px 1px blue; */
  transition: transform 0.3s ease-out; 
  /* TRANSITION - smoothly animates a change from one CSS state to another — instead of the change happening instantly. */
  /* Ease-in starts slowly and accelerates, while ease-out begins quickly and decelerates */
}

.contact-list a:hover {
  transform: translateY(8px);
  /* TRANSFORM - changes how an element looks/positioned */
  /* color: red; Too bright/change*/
}

/* --------------- Footer Section --------------- */
footer {
  text-align: right;
  padding: 1rem;
  font-weight: 300;
  /* font-size: ; */
  color: white;
  background-color: var(--main-blue3);
  border-top: 3px solid var(--main-grey);
}

